# Ignore compiled Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
.venv/
venv/
env/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore log files and databases
*.log
db.sqlite3

# Ignore build/distribution files
build/
dist/